<% include ./partials/header %>

<form action="/movies/<%= foundMovie._id %>?_method=PUT" method="POST">
	<div class="field">
		<label for="title">Title</label>
		<input id="title" type="text" name="movie[title]" value="<%= foundMovie.title %>">
	</div>

	<div class="field">
		<label for="year">Year</label>
		<input id="year" type="number" name="movie[year]" value="<%= foundMovie.year %>">
	</div>

	<div class="field">
		<label for="image">Movie Poster</label>
		<input id="image" type="text" name="movie[image]" value="<%= foundMovie.image %>">
	</div>

	<div class="field">
		<label for="summary">Summary</label>
		<textarea name="movie[summary]"><%= foundMovie.summary %></textarea>
	</div>

	<button>Submit Edits</button>
	
</form>

<% include ./partials/footer %>